.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.client-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.client-list {
  justify-content: center;
  align-items: center;
  gap: 72px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .client-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.client-link {
  width: 190px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-input-color);
  border-radius: 4px;
  color: var(--secondary-input-color);
  background-color: var(--accent-secondary-color);
}
.client-link:hover,
.client-link:focus {
  color: var(--primary-link-color);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--primary-link-color);
}
.client-icons {
  fill: currentColor;
}
.client-icons:hover,
.client-icons:focus {
  fill: var(--primary-link-color);
}
.client-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 168px;
    height: 88px;
  }
}
