:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --primary-link-color: #404bbf;
  --secondary-link-color: #f4f4fd;
  --accent-secondary-color: #ffffff;
  --border-color: #e7e9fc;
  --secondary-input-color: #8e8f99;
}
