.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 428px) {
  .container {
    min-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding: 0 15px;
  }
}
